<%= render 'shared/navbar' %>
<h1>My favourite cars</h1>
<%= link_to 'Back to Home', cars_path %>
<% @favourites.each do |favourite| %>
  <p><%= favourite.car.model %></p>
  <p><%= favourite.car.brand %></p>
  <%= link_to 'Remove from Favourites',
    favourite_path(favourite),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <p>-------</p>
<% end %>
