<%= render 'shared/navbar' %>
<div class="container w-50">
  <div class="wrapper">
    <h2>My Garage</h2>
    <% @favourites.each do |favourite| %>
      <div class="card-product">
        <%= image_tag favourite.car.image_url %>
        <div class="card-product-infos">
          <div>
            <h2><%= favourite.car.brand %></h2>
            <h3><%= favourite.car.model %></h3>
            <p><%= favourite.car.year %> | <%= favourite.car.fuel %></p>
          </div>
          <%= link_to favourite_path(favourite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>



  <% end %>
  </div>
</div>
