<%= link_to 'Back to Home', cars_path %>
<%= link_to 'My favourite cars', favourites_path %>
<h1><%= @car.model %></h1>
<h2><%= @car.brand %></h2>
<p>Year: <%= @car.year %></p>
<p>Fuel: <%= @car.fuel %></p>
<p>Owner: <%= @car.owner.nickname %></p>

<% if @car.favourites.empty? %>
  <%= simple_form_for [@car, @favourite] do |f| %>
    <%= f.submit 'Save in my Favourites', class: "btn btn-info" %>
  <% end %>
<% else %>
  <p>This car is listed in your favourites!</p>
<% end %>

<hr>

<h2>Leave a review</h2>
<%= simple_form_for [@car, @review] do |f|%>
  <%= f.input :comment %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.submit 'Submit' %>
<% end %>

<hr>

<% @car.reviews.each do |review| %>
  <p><%= review.comment %></p>
  <p><%= '⭐️' * review.rating %></p>
  <p>-------------------</p>
<% end %>
